.container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.container > .modal {
  width: 60%;
  /* min-height: 500px; */
  background-color: var(--light-shade);
  padding: 20px;
  border-radius: 5px;
}

.container > .modal > .main_content {
  padding-bottom: 30px;
}

.container > .modal > .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container > .modal > .header > span {
  cursor: pointer;
}

.open {
  display: flex;
}

.container > .modal > .modal_footer > a {
  padding: 10px 20px;
}

.container > .modal > .modal_footer > a:first-child {
  background-color: var(--golden-shade);
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s linear;
  font-weight: 600;
}

.container > .modal > .modal_footer > a:first-child:hover {
  background-color: var(--baby-pink);
}

.container > .modal > .modal_footer > a:nth-child(2) {
  color: var(--dark-shade);
}

.container > .modal > .header > span {
  transition: 0.2s linear;
}

.container > .modal > .header > span:hover {
  transform: scale(1.5) rotateZ(90deg);
}
