@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito+Sans:wght@200&display=swap");
body {
  background: url("./pages/home/assets/banner-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif !important;
}

.fade-on-load {
  animation: fade-on-load1 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53) 1 both;
}

@keyframes fade-on-load1 {
  from {
    /* opacity: 0; */
    transform: scale(0.9);
  }
  to {
    /* opacity: 1; */
    transform: scale(1);
  }
}
